* {
  padding: 0%;
  margin: 0%;
}

 

.imagen {
  background-image: url("FondoLouvre.jpg");
  width: 100%;
  height: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0.1px;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(80%);
}



.textoIndex {
  background-color: #181818;
  color: #dfdede;
  width: 60%;
  height: 20%;
  border-radius: 30px;
  margin-top: 5%;
  text-align: center;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 130%;
  padding: 2%;
  box-shadow: 0 6px 12px rgb(0, 0, 0);
  margin: 40px;
  
}

.textoIndex p {
  font-size: 102%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.logo {
  margin-left: 80px;
}

.logo img {
  width: 20%;
  height: 20%;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-right: 690px;
}

.nav-links li {
  margin-right: 40px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
  font-size: 21px;
}

.nav-links a:hover {
  color: #aaaaaa;
}

html,
body {
  height: 100%;
  background-color: #808080b6;
}
header{
  background-color: #272727b6;
}


section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ContenedorExhibicion {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.ContenedorExhibicion h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: 160%;
  color: #313131;
}

.ContenedorExhibicion h5 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: large;
  color: #313131;
}

.ContenedorExhibicion div {
  flex: 0 0 40%;
  margin: 2%;
  background-color: #d6d6d6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  justify-content: center;
}

.ContenedorExhibicion div img {
  width: 50%;
  height: auto;
  border: 2px solid black;
  border-radius: 15px;
  margin: 1%;
}

.ContenedorExhibicion div:hover {
  transform: scale(1.05);
}

.ContenedorExhibicion div::before,
.ContenedorExhibicion div::after {
  content: "";
  display: block;
  flex: 0 0 20%;
}

.ContenedorExhibicion div::before {
  background: linear-gradient(to right, transparent, #ffffff);
}

.ContenedorExhibicion div::after {
  background: linear-gradient(to left, transparent, #ffffff);
}

.eventos {
  display: flex;
  flex-direction: row;
}

.eventos div h3 {
  color: black;
  font-size: 24px;
  margin-bottom: 10px;
}

.eventos div h5 {
  color: black;
  font-size: 16px;
  line-height: 1.5;
}


.eventos div {
  display: flex;
  width: 45%;
  flex: 0 0 40%;
  margin: 20px;
  scroll-snap-align: start;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

footer {
  background-color: #272727b6;;
  border-top: 3px solid #000000;
  color: #bebebeb6;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  clear: both;
}

footer div {
  display: flex;
  align-items: center;
}

footer div img {
  height: 10%;
  width: 10%;
}


footer div a {
  color: #929292;
  text-decoration: none;
  margin-right: 10px;
  display: inline;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3%;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 10px;
  width: 100%;
  animation: gallery-scroll 30s linear infinite;
}

.contact-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  background-color: #d6d6d6;
  margin: 5%;
}

.contact-info div{
  text-align: center;
  width: 45%;
  margin: 20px;
  padding: 5px;
}

.contact-info div a{
  height: 1000px;
}
.contact-info div h2{
  margin: 3%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-info p {
  font-size: 110%;
}

.galeria {
  display: flex;
  clear: both;
  flex-direction: row;
  margin-left: 19px;
}
.galeria div:hover{
  transform: scale(1.02);
}

.galeria div {
  background-color: #313131;
  margin: 2px solid black;
  float: left;
  height: 20%;
  width: 20%;
  border: 2px solid black;
  margin: 0.25%;
  padding: 2%;
}

.galeria div img {
  width: 100%;
  height: auto;
}

.Navegador img {
  width: 5%;
  height: auto;
  margin-bottom: 10px;
}

.Navegador li {
  display: inline;
  margin-right: 10px;
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
}

.Navegador li :hover{
  background-color: #a8a6a638;
  transform: scale(1.2, 1.2, 1.2);
}

.Navegador li a {
  text-decoration: none;
  color: #fdffff;
  border-radius: 5px;
  font-size: 20px;
  transition-duration: 0.5s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Navegador {
  padding: 10px;
  margin-top: 0px;
  text-align: center;
}

.img-contact img {
  width: 100px;
  margin-top: 30px;
}

.googleMaps {
  margin-top: 20px;
}
.boton1{
  text-decoration: none;
  display:inline-block;
  width:30%;
  padding:20px;
  border: 3px solid black;
  border-radius:50px;
  text-decoration: none;
  color:black;
  font-weight: bold;
  transition: all 0.9s;
  text-align: center;
  font-size: 30px;
  
}

.boton1:hover{

  background:black;
  color:white;

}
